body{
    padding-top: 80px;
    padding-bottom: 20px;
	box-sizing: border-box;
	background-image: url("../images/photo-1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
 	background-color: #464646;
}

textarea#texto{
    overflow: hidden;
    margin-bottom: 2%; 
    border-radius: 10px;
}

img.t-logo{
	margin: 6px;
	width: 50px;
}

.box{
	background-color: #101010;
	border-radius: 5px;
	color: white;
	text-align: center;
	width: 50%;
}

span#contador{
	display: block;
	float: right;
	/*color: white;*/
	font-weight: bold;
	font-size: 2em;
}

.purple{
	color: purple;
}

.white{
	color: white;
}

.hour{
	position: fixed;
	display: block;
}
